:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "DM Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x :hidden !important;
}
body{
  font-family: "DM Sans", sans-serif;
}

.hero-section-container{
  background-color:#FFFFFF;
  color:#FFFFFF;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 65px;
}
.hero-section{
  height: 100vh;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
 font-style: normal;
}
.hero-title{
  color: var(--primary-black-313131, #313131);
  font-family: "DM Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}
.hero-description{
  color: var(--text-secondary-828282, #828282);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.book-now-btn{
  width: 148px;
  padding: 16px 32px;
  border-radius: 8px;
  background: #043275;
  box-shadow: 0px 34px 34px 0px rgba(19, 83, 254, 0.05);
  color: #FFFFFF;
}

.trust-container{
  background-color: #F6F6F6;
}
.trusted-by-title{
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary-black-313131, #313131);
}
.trusted-by-description{
  color: #828282;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  color: #828282;

}
.skilled-technician-title{
  color: var(--primary-black-313131, #313131);
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.skilled-technician-description{
  color: var(--text-secondary-828282, #828282);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.our-achievments-title{
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.our-achievments-description{
  color: var(--white-ffffff, #FFF);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.our-achievments-number{
  color: var(--white-ffffff, #FFF);
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
}
.our-achievments-sm-text{
  color: var(--white-ffffff, #FFF);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}
.choose-us-title{
  color: var(--primary-black-313131, #313131);
  text-align: center;
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
}
.choose-us-sub-title{
  color: var(--primary-black-313131, #313131);
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.choose-us-icons{
  width: 62px;
  height: 62px;
}
.choose-us-description{
  color: var(--text-secondary-828282, #828282);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.achievments-container{
 background: #043275;
 color: #FFFFFF;
}
.client-testimonial{
  background: var(--section-bgf-6-f-6-f-6, #F6F6F6);
}
.testimonial-title{
  color: var(--primary-black-313131, #313131);
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
}
.testimonial-card{
  border-radius: 24px;
  background: var(--white-ffffff, #FFF);  
}
.carousel-control-next, .carousel-control-prev {
  opacity: 1 !important;

}
.client-testimonial-name{
  color: var(--primary-black-313131, #313131);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.client-testimonial-service{
  color: var(--text-secondary-828282, #828282);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.testimonial-description{
  color: var(--text-secondary-828282, #828282);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.client-testimonial-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.form-label{
  color: var(--text-secondary-828282, #828282);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.form-control{
  color: var(--primary-black-313131, #313131); 
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-bottom: 1px solid #313131;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 6px 2px;
}
.contact-btn{
  border-radius: 16px;
  background: #043275;
  color: var(--white-ffffff, #FFF);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  padding: 16px 48px;
}
.partner-service-container{
  background: url("../src/assets/partner-section-bg.png");
}
.partner-service-title{
  color: var(--primary-black-313131, #313131);
  text-align: center;
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
}
.partner-service-sub-text{
  color: var(--text-secondary-828282, #828282);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.adress-logo-img{
  width: 178px;
  height: 52px;
}
.adress-text{
  opacity: 0.6;
  color: #313131;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.36px;
}
.call-logo{
  width: 20px;
  height: 20px;
}
.adress-contact-logo{
  border-radius: 16px;
  background: #043275;
  width: 48px;
  height: 48px;
}
.adress-contact-label{
  color: #828282;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
}
.adress-contact-number{
  color: #313131;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
  letter-spacing: -0.36px;
}
.social-links-container{
  width: 38px;
  height: 38px;
  border: 1px solid #828282;
  border-radius: 6px;
}
.social-logo{
  height: 15px;
  width: 15px;
}
.quick-links-tile{
  color: var(--primary-black-313131, #313131);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.quick-links-tile{
  color: var(--primary-black-313131, #313131);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}
.quick-links-text{
  color: var(--text-secondary-828282, #828282);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.copywrights-container{
  border-top: 1px solid var(--border-ebebeb, #EBEBEB);
  background: #043275;
  color: var(--white-ffffff, #FFF);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.testimonial-btn-container-prev{
  width: 65px;
  height: 65px;
  border-radius: 16px;
  background: var(--white-ffffff, #FFF);
}
.testimonial-btn-container-next{
  width: 65px;
  height: 65px;
  border-radius: 16px;
  background: #043275;
}
.testimonial-icon{
  height: 24px;
  width: 24px;
}
.carousel-control-next, .carousel-control-prev{
  position: relative;
}
.navbar-logo-icon{
  width: 195px;
  height: 60px !important;
}
.nav-link {
  color: var(--primary-black-313131, #313131) !important;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  padding-left: 21px !important; 
  padding-right: 21px !important; 
  position: relative; 
}

.nav-link:hover::after,
.nav-link.active::after {
  content: "";
  display: block;
  width: 25px; 
  height: 4px; 
  background-color: #043275 !important;
  border-radius: 16px; 
  position: absolute;
  bottom: -4px;
  left: 50%; 
  transform: translateX(-50%); 
}

.nav-link:hover,
.nav-link.active {
  color: #043275 !important;
}


.login-btn{
  border-radius: 16px;
  background: #043275;
  box-shadow: 0px 34px 34px 0px rgba(19, 83, 254, 0.05);
  width: 148px;
  padding: 12px 32px;
  color: var(--white-ffffff, #FFF);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}
.login-btn:hover{
  color: #043275;
  background: transparent;
}
.nav-link{
  color: var(--primary-black-313131, #313131);  
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
}
.nav-link:hover{
  color: #043275;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.product-container-title{
  color: var(--primary-black-313131, #313131);
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
}
.product-container{
  padding: 72px 100px;
  background: #FFF;
}
.product-card{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 20px 35px 70px 0px rgba(0, 0, 0, 0.04);
  max-width: 300px;

}
.product-card-img{
  height: 216px;
  border-radius: 10px 10px 0px 0px;
}
.product-title{
  color: #313131;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.disabled-product-coming-soon{
  font-size: 14px;
}
.product-description{
  color: #828282;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.product-book-txt{
  color: #043275;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  text-decoration: none !important;
}
.product-book-btn a {
  text-decoration: none;
}
.product-arrow-icon{
  width: 20px;
  height: 20px;
}
.product-view-header{
  color: var(--Text-black-MHS, #1A1A1A);
  font-family: "DM Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product-view-sub-text{
  color: var(--Text-black-MHS, #1A1A1A);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product-view-banner{
  width: 783px;
  height: 451px;
  border-radius: 20px;
}
.product-view-mini-container{
  border-radius: 12px;
  border: 1px solid #E3E3E3;
}
.product-mini-cart-img{
  height: 108px;
  width: 120px;
  margin:16px
}
.product-view-mini-container{
  height: 150px;
  width: 308px;
}
.product-view-sub-header{
  color: var(--Text-black-MHS, #1A1A1A);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top:40px
}
.product-mini-card-container{
  height: 298px;
  width: 454px;
  border-radius: 12px;
  border: 1px solid #E3E3E3;
  background: var(--White-MHS, #FFF);
}
.product-mini-card-img{
  width: 454px;
  height: 145px;
}
.product-mini-card-rating{
 color: var(--Sub-heading-grey-text-MHS, #5F5F5F);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.product-mini-book-btn{
  width: 62px;
  height: 30px;
  padding: 3px 12px;
  border-radius: 8px;
  border: 3px solid var(--White-MHS, #FFF);
  background: var(--Primary-MHS, #043275);
  color: var(--White-MHS, #FFF);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product-mini-card-header{
  color: var(--Text-black-MHS, #1A1A1A);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-bottom: 1px solid #EDEDED;
}
.mini-card-offer-txt{
  color: var(--Sub-heading-grey-text-MHS, #5F5F5F);
  font-size: 12px;
}
.product-mini-card-description{
  color: var(--Text-black-MHS, #1A1A1A);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-star-icon{
  width: 16px;
  height: 16px;
}
.product-mini-star-icon{
  width: 12px;
  height: 12px;
}
.product-view-more-btn{
  background: transparent;
  border: none;
  color: #043275;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.disabled-card {
  opacity: 0.5;
  pointer-events: none; 
  cursor: not-allowed;
}
.travel-hub-icon{
  width: 74px;
  height: 74px;
}
.travel-hub-title{
  color: var(--primary-black-313131, #313131);
  text-align: center;
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
.Travel-hub-description{
  color: var(--text-secondary-828282, #828282);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}
.travel-calling-icon{
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #043275;
  padding: 13px;
}
.travel-hub-text-1{
  color: #828282;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: -0.32px;
}
.travel-hub-text-2{
  color: #313131;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
}
.travel-instagram-icon{
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #043275;
  padding: 14px;
}
.trip-card-img{
  height: 216px;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
}
.trip-title{
  color: #313131;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
}
.trip-description{
  color: var(--Text-black-MHS, #1A1A1A);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  text-transform: capitalize;
}
.trip-btn{
  color: var(--white-ffffff, #FFF);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  border-radius: 8px;
  background: #043275;
  box-shadow: 0px 34px 34px 0px rgba(19, 83, 254, 0.05);
  padding: 8px;
}
.trip-contact-btn{
  color: #313131;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  border-radius: 8px;
  border: 1px solid #000;
  box-shadow: 0px 34px 34px 0px rgba(19, 83, 254, 0.05);
  padding: 8px;
}
.trip-card{
  width: 304px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 20px 35px 70px 0px rgba(0, 0, 0, 0.04);
}